<div class="pr-5">
  <div class="py-3">
    <app-page-permissions (permission)="isAdmin($event)"></app-page-permissions>
  </div>
  <ng-select
    [items]="productTypes"
    bindLabel="name"
    bindValue="id"
    (click)="changeProductType()"
    placeholder="Select product Type"
    [(ngModel)]="selectedProductTypeId"
  >
  </ng-select>

  <app-product-table
    [isPermissionAdmin]="isPermissionAdmin"
    [item]="currentItem"
    *ngIf="selectedProductTypeId"
    [currentProductType]="currentProductType"
  ></app-product-table>
</div>
