<div class="row">
  <p *ngIf="isUserAdmin; else showThis">Connected as Admin</p>
  <ng-template #showThis><p>Connected as User</p> </ng-template>
  <div class="col">
    <button
      type="button"
      class="btn btn-primary me-4"
      [ngClass]="
        !isUserAdmin === true ? 'btn btn-primary' : 'btn btn-secondary'
      "
      (click)="onSwitcTohUser()"
    >
      User
    </button>
    <button
      type="button"
      [ngClass]="isUserAdmin === true ? 'btn btn-primary' : 'btn btn-secondary'"
      class="btn btn-primary"
      (click)="onSwitchToAdmin()"
    >
      Admin
    </button>
  </div>
</div>
