<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        *ngIf="isPermissionAdmin"
        mat-button
        class="btn btn-danger me-4"
        (click)="removeProduct(element.id, element.productType)"
      >
        Delete
      </button>
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="isPermissionAdmin">
  <form
    [formGroup]="form"
    (submit)="AddProduct()"
    class="pt-3"
    style="display: flex"
  >
    <button class="btn btn-primary me-3">Add</button>
    <input
      formControlName="product"
      placeholder="Product name"
      class="form-control w-15"
    />
  </form>

  <form
    [formGroup]="updateForm"
    (submit)="updateProduct()"
    class="pt-3"
    style="display: flex"
  >
    <button class="btn btn-primary me-3">Update</button>
    <input
      formControlName="productId"
      placeholder="Product Id"
      class="form-control me-3"
    />
    <input
      formControlName="productName"
      placeholder="Product name"
      class="form-control w-15"
    />
  </form>
</div>
